.outerAccountForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7em;
  height: 100vh;
  width: 100%;
}
.editEmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding-top: 2em;
}
.editEmail h1 {
  font-family: 'Oswald', sans-serif;
}
.editEmail h3 {
  font-family: 'Oswald', sans-serif;
}
.editPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
}
.editPassword h1 {
  font-family: 'Oswald', sans-serif;
}
.changePassError {
  position: absolute;
  width: 180px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  margin-top: 25vh;
  margin-right: 5em;
  animation: fadeinout 2s linear forwards;
}

@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .outerAccountForm {
    margin-top: 10em;
  }
}

//Desktop
@media only screen and (min-width: 1800px) {
  .outerAccountForm {
    margin-top: 10em;
  }
  .editEmail h1 {
    font-size: 4em;
  }
  .editEmail h3 {
    font-size: 2.6em;
  }
  .accountButton {
    font-size: 2em;
  }
  .accountLabel {
    font-size: 2em;
    margin-bottom: 7px;
  }
  .accountInput {
    font-size: 2em;
  }
}
