@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px
}
html {
  scroll-behavior: smooth;
}

#app{
  background: no-repeat center url('./images/websitebackground.png');
  background-size: 80%;
  background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
  #app {
    width: 140%;
  }
}

body h1 h2 h3 h4 Link a p div button{
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  font-family: 'Oswald', sans-serif;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  body {
    width: 68em;
  }
}


/* Map Styles */

path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}
.discover {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-top: 7em;
}
.discover h1 {
  font-family: 'Oswald', sans-serif;
}
.Map {
  display: flex;
  justify-content: space-around;
}

.allArtistsButton {
  margin-top: 40px;
  width: 150px;
  height: 50px;
  color: whitesmoke;
  background-color: black;
  transition: 0.3s;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}

.allArtistsButton:hover {
  background-color: whitesmoke;
  color: black;
  transform: scale(1.2);
}

.genreDiv {
  margin-top: -24px;
}

.allAndGlobe {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.globe {
  border: solid black;
  padding: 10px;
  border-radius: 80px;
  cursor: pointer;
}

.globeLabel {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

.internationalLink {
  transition: 0.3s;
}

.internationalLink:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  .discover {
    width: 100%;
  }
  .Map {
    margin-top: -15px;
    margin-bottom: -156px;
  }
  .allAndGlobe a {
    height: 0px;
  }
  .allArtistsButton {
    width: 7em;
    height: 3em;
    font-size: 1em;
  }
  .globe {
    height: 90px;
    width: 90px;
  }
  .globeLabel {
    font-size: 1em;
  }
}

@media only screen and (min-width: 600px) and (max-width:900px) {
  .genreDiv {
    margin-top: -20px;
  }
  .Map {
    margin-top: 40px;
  }
  .allAndGlobe{
    margin-top: 20px;
  }
  .allArtistsButton {
    margin-top: 75px;
    width: 170px;
    height: 70px;
    font-size: 1em;
  }
  .allArtistsButton {
    margin-top: 32px;
    width: 139px;
    height: 50px;
    font-size: 1.1em;
  }
  .allArtistsLink {
    height: 0px;
  }
  .internationalLink {
    margin-top: 45;
  }
  .globe {
    border-radius: 80px;
    height: 150px;
    width: 150px;
  }
  .globeLabel {
    font-size: 1em;
    margin-bottom: -23px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .discover {
    margin-top: 10em;
  }
  .discover h1 {
    font-size: 3em;
    margin-bottom: 55px;
  }
  .allAndGlobe a {
    height: 0px;
  }
  .allArtistsButton {
    width: 150px;
    height: 50px;
    font-size: 1.3em;
  }
  .globe {
    border-radius: 98px;
    height: 200px;
    width: 200px;
  }
  .Map svg {
    height: 661px;
    width: 1081px;
    margin-top: 13em;
  }
}

@media only screen and (min-width: 1800px) {
  .discover {
    margin-top: 10em;
  }
  .discover h1 {
    font-size: 3em;
  }
  .allAndGlobe {
    margin-top: 5em;
  }
  .allAndGlobe a {
    height: 0px;
  }
  .allArtistsButton {
    width: 208px;
    height: 65px;
    font-size: 1.7em;
  }
  .globe {
    border: solid black 6px;
    padding: 17px;
    border-radius: 191px;
    height: 200px;
    width: 200px;
  }
  .globeLabel {
    font-size: 2.8em;
    margin-top: 11px;
  }
  .Map {
    margin-top: 8em;
  }
  .Map svg {
    height: 86em;
    width: 92em;
  }
}

/* Footer Styles */

.footerDiv {
  text-align: center;
}

.footerDiv h6 {
  font-size: 1em;
}

@media only screen and (min-width: 1400px) {
  .footerDiv h6 {
    font-size: 1.5em;
  }
}


/* NAVBAR STYLES */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #141210;
  text-align: center;
  height: 104px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navOptions {
  background-color: #141210;
  margin-top: -1px;
  position: relative;
}

.badGreyTextLogo {
  height: 100px;
  width: 100px;
  cursor: pointer;
  margin-left: 1em;
}
.badGreyWolfLogo {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.badGreyTextLogo:hover {
  opacity: 0.50;
}

.badGreyWolfLogo:hover {
  opacity: 0.50;
}

.badgrey {
  height: 110px;
  width: 110px;
  margin-right: 57px;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: ghostwhite;
  cursor: pointer;
}

.navLinks {
  display: flex;
  justify-content: space-between;
}

.navList a{
  color: whitesmoke;
  cursor: pointer;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0.8;
  margin-top: 78px;
  margin-left: 22em;
  color: whitesmoke;
  margin-right: 41px;
}

.navList a:hover {
  color: grey;
}

.singleNavOption a:hover {
  color: grey;
}

@media only screen and (max-width: 340px) {
  .navbar {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .navbar {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
  }
  .nav {
    width: 100%;
  }
  .badgrey {
    height: 90px;
    width: 90px;
    margin-top: 13px;
  }
  .badGreyWolfLogo {
    height: 70px;
    width: 70px;
    margin-top: 10px;
  }
  .navOptions {
    position: relative;
  }
  .navList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
  }

}

@media only screen and (min-width: 600px) and (max-width:900px) {
  .navbar {
    width: 68em;
  }
  .navList {
    margin-left: 21em;
}
}

@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .navbar {
    height: 148px;
  }
  .badGreyTextLogo {
    height: 160px;
    width: 160px;
  }
  .navList {
    margin-top: 111px;
    margin-left: 19em;
    margin-right: 1em;
    font-size: 1.5em;
  }
  .badGreyWolfLogo {
    height: 160px;
    width: 160px;
  }
  .navOptions {
    margin-top: -17px;
  }
}

@media only screen and (min-width: 1800px) {
  .navbar {
    height: 10.5em;
    width: 100%;
  }
  .badGreyTextLogo {
    height: 160px;
    width: 160px;
  }
  .badGreyWolfLogo {
    height: 160px;
    width: 160px;
  }
  .navOptions {
    margin-top: -27px;
    font-size: 1.5em;
  }
  .navList {
    font-size: 1.5em;
  }
}

/* State Artists Styles */

.artistsDiv {
  margin-top: 7em;
  height: 1000px;
}

.scrolltoload {
  text-align: center;
  margin: 0px;
}

.title {
  text-align: center;
  margin-top: 40px;
  font-family: 'Oswald', sans-serif;
}
.artistCity {
  text-align: center;
  margin-top: 40px;
  font-family: 'Oswald', sans-serif;
}
.state{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 9em;
  margin-right: 9em;
}

.artistPic {
  width: 150px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.artistPic:hover {
  transform: scale(1.2);
}

.artistPic:hover img {
  -webkit-filter: brightness(60%);
  text-shadow: 0 0 3px whitesmoke;
  color:whitesmoke;
}
.artistPic:hover .artistName {
  opacity: 1;
  z-index: 10;
}

.artistPic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.artistName {
  width: 150px;
  height: 150px;
  opacity: 0;
  text-align: center;
  position: absolute;
  font-size: 15px;
  color: white;
  transition: 0.3s;
  font-family: 'Oswald', sans-serif;
}

.artistNameText {
  margin-top: 20px;
}

.noArtistsContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.noArtists {
  text-align: center;
  height: 13em;
  width: 47em;
  margin-top: 74px;
}

.noArtists h1{
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 600px) {

  .artistsDiv {
    width: 100%;
  }
  .artistPic {
    height: 85px;
    width: 85px;
  }
  .artistName {
    opacity: 1;
    margin-top: 30px;
    margin-left: 22px;
    font-size: 7px;
  }
  .artistNameText {
    width: 49px;
  }
  .noArtistsContainer {
    width: 32em;
  }
  .noArtists {
    height: 18em;
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .state {
    margin-left: 5em;
    margin-right: 5em;
  }
  .artistName {
    opacity: 1;
    margin-left: 28px;
  }
  .artistNameText {
    width: 92px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .artistsDiv {
    margin-top: 10em;
  }
  .artistPic {
    height: 180px;
    width: 180px;
  }
  .title {
    font-size: 3em;
  }
  .artistCity {
    font-size: 1.5em;
  }
  .artistSearch form {
    margin-left: 8em;
  }
  .artistSearch {
    font-size: 1.3em;
  }
  .searchLabel {
    margin-top: 4px;
  }
  .artistName {
    margin-top: 76px;
    margin-left: 22px;
    margin-right: 50px;
    font-size: 20px;
  }
  .artistNameText {
    width: 130px;
  }

}

@media only screen and (min-width: 1800px) {
  .artistsDiv {
    margin-top: 10em;
  }
  .title {
    font-size: 4em;
  }
  .scrolltoload {
    font-size: 1.3em
  }
  .artistSearch input {
    font-size: 1.5em;
  }

  .searchLabel {
    margin-top: 8px;
    font-size: 1.5em;
  }
  .artistSearch form {
    margin-bottom: 78px;
    margin-top: 51px;
    margin-left: 8em;
  }
  .artistPic {
    width: 280px;
    height: 280px;
  }
  .artistNameText {
    margin-top: 50%;
    font-size: 2em;
  }
  .artistName {
    width: 280px;
    height: 280px;
    margin: 0px;
    text-align: center;
  }
  .noArtists {
    height: 32em;
    width: 92em;
  }
  .noArtists h2 {
    font-size: 3em;
  }
}

/* Individual Artist Styles */

.artistContainer {
  text-align: -webkit-center;
  margin-top: 7em;
}

.artistHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 7em;
}

.artistNameHeader h1{
  margin-bottom: 0;
}

.artistNameHeader h3{
  margin-top: 0px;
  margin-bottom: 2em;
}

.artistLikesDislikes {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.stateLink {
  height: 0px;
  cursor: pointer;
}

.artistLogos {
  height: 140px;
  width: 140px;
  transition: 0.3s;
  cursor: pointer;
}

.artistLogos:hover {
  transform: scale(1.2);
}


.soundcloudAndYoutube {
  display: flex;
  justify-content: space-evenly;
  height: 380px;
  margin-top: 50px;
}

.youtube {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 595px;
}

.genreLink {
  display: inline-grid;
  grid-template-rows: 120px;
  grid-template-columns: 120px;
  align-items: center;
  border: 2px solid black;
  margin: 15px 20px 0 0;
  padding: 5px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  height: 125px;
  cursor: pointer;
}

.genreLink:hover {
  background-color: black;
  color: whitesmoke;
  transform: scale(1.2);
}



.adminButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  cursor: pointer;
}

#editButton {
  margin-right: 125px;
}

.editdelete {
  background-color: black;
  color: white;
  width: 9em;
  height: 36px;
  transition: 0.3s;
  border: 1px solid black;
  cursor: pointer;
}

.editdelete:hover {
  background-color: whitesmoke;
  color: black;
  transform: scale(1.2);
}

.addToSavedButton {
  color: whitesmoke;
  background-color: black;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.addToSavedButton:hover {
  background-color: whitesmoke;
  color: black;
  transform: scale(1.2);
}
.artistCommentContainer {
  margin-top: 17em;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

@media only screen and (max-width: 600px) {
  .artistCommentContainer {
    margin-top: 38em;
  }
  .artistContainer {
    margin-left: 2em;
  }
  .artistNameHeader h1 {
    font-size: 1.3em;
  }
  .artistNameHeader h3 {
    font-size: 1em;
  }
  .artistHeader {
    width: 100%;
    margin-left: -3em;
  }
  .artistNameHeader {
    width: 18em;
  }
  .artistLogos {
    height: 80px;
    width: 80px;
  }
  .genreLink {
    grid-template-rows: 80px;
    grid-template-columns: 80px;
    height: 95px;
    margin-right: -31px;
    margin-left: -5em;
  }
  .artistLogos {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: -5em;
  }
  .soundcloudAndYoutube {
    height: 372px;
    margin-top: 17em;
    flex-direction: column;
  }
  .soundcloud {
    margin-bottom: 21em
  }
  .soundcloud iframe {
    width: 28em;
  }
  .youtube iframe {
    width: 28em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .artistContainer {
    margin-top: 2em;
  }
  .artistHeader {
    margin-left: 6em;
  }
  .soundcloudAndYoutube {
    flex-direction: column;
    margin-top: 18em;
    margin-right: -1em;
  }
  .soundcloud {
    margin-bottom: 22em;
  }
  .artistCommentContainer {
    margin-top: 40em;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .artistContainer {
    margin-top: 10em;
  }
  .genreLink {
    font-size: 1.5em;
    height: 7em;
  }
  .addToSavedButton {
    font-size: 1.2em;
  }

  .artistLogos {
    height: 180px;
    width: 180px;
  }
  .artistCommentContainer {
    margin-top: 20em;
  }
}

@media only screen and (min-width: 1800px) {
  .artistContainer {
    margin-top: 10em;
  }
  .artistHeader {
    margin-bottom: 30em;
  }
  .artistCity {
    font-size: 2em;
  }
  .artistLogos {
    height: 180px;
    width: 180px;
  }
  .addToSavedButton {
    font-size: 1.5em;
  }
  .genreLink {
    grid-template-rows: 150px;
    grid-template-columns: 150px;
    font-size: 1.5em;
    height: 7em;
    line-height: 1.5;
  }
  .soundcloud {
    margin-top: -25em;
  }
  .soundcloud iframe {
    height: 1300px;
    width: 800px;
  }
  .youtube iframe {
    height: 640px;
    width: 890px;
  }
  .artistCommentContainer {
    margin-top: 48em;
  }
  .artistLikesDislikes p {
    font-size: 2.5em;
  }
}

/* Genre Grid Styles */

.genreGrid {
  display: inline-grid;
  grid-template-rows: 160px 160px;
  grid-template-columns: 160px 160px 160px 160px 160px;
  grid-gap: 3px;
  margin-top: 100px;
  padding-bottom: 20px;
}

.genreName {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  color: black;
  font-size: 15px;
}

.genreName {
  background-color: black;
  color: whitesmoke;
  transition: 0.3s;
  cursor: pointer;
}

#Trap #Alternative #Cloud #Conscious #Experimental #Instrumental #Pop #JazzSoul #RB #OldSchool {
  transition: 0.3s;
}

#Trap:hover {
  background-image: url('./images/genres/Trap.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.2);
  color: whitesmoke;
}
#Alternative:hover {
  background-image: url('./images/genres/Alternative.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.2);
  color: whitesmoke;
}
#Cloud:hover {
  background-image: url('./images/genres/Cloud.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.2);
  color: whitesmoke;
}
#Conscious:hover {
  background-image: url('./images/genres/Conscious.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.2);
  color: whitesmoke;
}
#Experimental:hover {
  background-image: url('./images/genres/Experimental.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.2);
  color: whitesmoke;
}
#Instrumental:hover {
  background-image: url('./images/genres/Instrumental.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.2);
  color: whitesmoke;
}
#Pop:hover {
  background-image: url('./images/genres/Pop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.2);
  color: whitesmoke;
}
#JazzSoul:hover {
  background-image: url('./images/genres/JazzSoul.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.2);
  color: whitesmoke;
}
#RB:hover {
  background-image: url('./images/genres/R&B.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.2);
  color: whitesmoke;
}
#OldSchool:hover {
  background-image: url('./images/genres/Old\ School.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.2);
  color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  .genreGrid{
    grid-template-columns: 70px 70px 70px 70px 70px;
    grid-template-rows: 70px 70px;
  }
  .genreName {
    font-size: 10px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .genreGrid {
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px 200px 200px 200px;
    margin-top: 156px;
  }
}

@media only screen and (min-width: 1800px) {
  .genreName {
    background-color: black;
    color: whitesmoke;
    transition: 0.3s;
    font-size: 2.8em;
  }
  .genreGrid {
    grid-template-rows: 17em 17em;
    grid-template-columns: 17em 17em 17em 17em 17em;
  }
}

/* Artist Form Creation Styles */

#newArtistForm {
  height: 70vh;
}

#newInterviewForm {
  height: 77vh;
}

.form {
  margin:3em 0 0 0;
  width: 50vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1.2px solid black;
  border-radius: 4px;
}

.viewMoreButton {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}

.outerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7em;
}

.form h2 {
  margin-top: 0px;
  width: 100%;
  height: 22%;
  background-color: black;
  color: whitesmoke;
  padding-top: 13px;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}

.form button {
  background-color: black;
  color: white;
  width: 9em;
  height: 36px;
  transition: 0.3s;
  border: 1px solid black;
  cursor: pointer;
}

.form button:hover {
  background-color: whitesmoke;
  color: black;
}

.form input {
  border: 1px solid black;
  border-radius: 4px;
  height: 25px;
}

.loginBorder {
  display: flex;
  justify-content: center;
}

.loginError {
  position: absolute;
  width: 180px;
  border-radius: 4px;
  background: rgba(0,0,0,0.7);
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  margin-top: 65vh;
  margin-right: 5px;
  animation: fadeinout 2s linear forwards;
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  85%,
  65%,
  50% {
    opacity: 1
  }
}


@media only screen and (max-width: 400px) {
  .outerForm {
    width: 27em;
  }
  .loginBorder {
    width: 27em;
  }
}
@media only screen and (max-width: 600px) {
  .outerForm {
    width: 30em;
  }
  .form {
    width: 81vw;
    height: 84vh;
  }
  .loginBorder {
    width: 30em;
  }
  .loginError {
    margin-top: 85vh;
    margin-right: 25px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .outerForm {
    margin-top: 10em;
  }
  .form {
    width: 65vw;
  }
  .form h2 {
    font-size: 3em;
    height: 3em;
  }
  .loginSignupLabel {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  .form input {
    height: 2em;
    width: 13em;
    font-size: 2.5em;
  }
  .form button {
    width: 10em;
    height: 70px;
    font-size: 2em;
  }
  .form h4 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1800px) {
  .outerForm {
    margin-top: 10em;
  }
  .form {
    height: 70vh;
  }
  .form h2 {
    font-size: 3em;
  }
  .loginSignupLabel {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .form input {
    height: 1.2em;
    width: 9em;
    font-size: 2em;
  }
  .form button {
    width: 7em;
    height: 2em;
    font-size: 2em;
  }
  .form h4 {
    font-size: 2em;
  }
}



/* Edit User Styles */

.outerAccountForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7em;
  height: 100vh;
}

.editEmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.editEmail h1 {
  font-family: 'Oswald', sans-serif;
}

.editEmail h3 {
  font-family: 'Oswald', sans-serif;
}

.editPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
}

.editPassword h1 {
  font-family: 'Oswald', sans-serif;
}

.changePassError {
  position: absolute;
  width: 180px;
  border-radius: 4px;
  background: rgba(0,0,0,0.7);
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  margin-top: 25vh;
  margin-right: 5em;
  animation: fadeinout 2s linear forwards;
}

@media only screen and (max-width: 600px) {
  .outerAccountForm {
    width: 31em;
  }
}
@media only screen and (min-width: 600px) and (max-width:900px) {
  .outerAccountForm {
    width: 69em;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .outerAccountForm {
    width: 104em;
  }
}

@media only screen and (min-width: 1400px) {
  .outerAccountForm {
    margin-top: 10em;
  }
  .editEmail h1 {
    font-size: 4em;
  }
  .editEmail h3 {
    font-size: 2.6em;
  }
  .accountLabel {
    font-size: 2em;
    margin-bottom: 7px;
  }
  .accountInput {
    font-size: 2em;
  }
  .accountButton {
    font-size: 2em;
  }
}

/* SAVED ARTISTS STYLES */

.savedArtistsDiv {
  height: 100vh;
  margin-top: 7em;
}

.savedArtists {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 14px;
}

.savedArtistsButton {
  margin-top: 13px;
  width: 32px;
  height: 29px;
  border-radius: 27px;
  color: whitesmoke;
  background-color: black;
  transition: 0.3s;
  cursor: pointer;
}

.savedArtistsButton:hover {
  background-color: whitesmoke;
  color: black;
  transform: scale(1.2);
}

.noSavedContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 7em;
}

.noSaved {
  text-align: center;
  border: solid black;
  height: 126px;
  width: 50%;
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .savedArtistsDiv {
    width: 100%;
  }
  .savedArtistsButton {
    width: 22px;
    height: 19px;
  }
  .noSaved {
    height: 180px;
  }
}
@media only screen and (min-width: 600px) and (max-width:900px) {
  /* .noSaved {
    margin-left: 19em;
  } */
}
@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .savedArtistsDiv {
    margin-top: 10em;
  }
  .noSavedContainer {
    margin-top: 10em;
  }
  .noSaved {
    height: 15em;
    width: 39em;
    margin-top: 74px;
    /* margin-left: 35em; */
  }
  .noSaved h2{
    font-size: 2.5em;
  }
  .noSaved h6 {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1800px) {
  .savedArtistsDiv {
    margin-top: 10em;
  }
  .noSavedContainer {
    margin-top: 10em;
  }
  .savedArtistsButton {
    width: 62px;
    height: 69px;
    font-size: 2em;
  }
  .noSaved {
    height: 30em;
    width: 74em;
    margin-top: 74px;
    /* margin-left: 56em; */
  }
  .noSaved h2 {
    font-size: 4em;
  }
  .noSaved h6 {
    font-size: 2em;
  }
}


/* All Users Styles */

.allUsers {
  text-align: center;
  margin-top: 15px;
}

.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 49px;
}

.singleUser {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 144px;
  width: 180px;
}

.userButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.userButtonsSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.userViewButton {
  margin-top: 13px;
  width: 49px;
  height: 22px;
  color: whitesmoke;
  background-color: black;
  transition: 0.3s;
}

.userViewButton:hover {
  background-color: whitesmoke;
  color: black;
  transform: scale(1.2);
}

.userButton {
  margin-top: 13px;
  width: 82px;
  height: 52px;
  color: whitesmoke;
  background-color: black;
  transition: 0.3s;
}

.userButton:hover {
  background-color: whitesmoke;
  color: black;
  transform: scale(1.2);
}

/* Artist Search Bar Styles */

.artistSearch {
  display: flex;
  justify-content: center;
}

.artistSearch form {
  display: flex;
  margin-bottom: 31px;
  margin-top: 10px;
}

.searchLabel {
  margin-right: 20px;
}

/* Discover Blog Styles */

.blogsDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogsHomeContainer {
  margin-top: 3em;
}

.allBlogsButton {
  margin-top: 40px;
  width: 150px;
  height: 50px;
  color: whitesmoke;
  background-color: black;
  transition: 0.3s;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  margin-bottom: 3em;
}

.allBlogsButton:hover {
  background-color: whitesmoke;
  color: black;
  transform: scale(1.2);
}

.mainBlogDiv {
  background-color: black;
  color: whitesmoke;
  margin-bottom: 3em;
  height: 27em;
  width: 77em;
}

.singleBlogDiv {
  display: flex;
  justify-content: space-evenly;
  width:100%
}

.homeSingleBlogLink {
  width: 40%;
  margin-bottom: 3em;
  cursor: pointer;
}

.homeSingleBlog {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: whitesmoke;
  height: 100%;
}

.singleBlogInfo {
  text-align: center;
  color: white;
  margin-top: 3em;
  margin-right: 1em;
  margin-left: 1em;
  width: 50%;
}

.singleBlogInfo h1 {
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
}

.singleBlogInfo h2 {
  font-size: 13px;
  font-family: 'Oswald', sans-serif;
}

.singleBlogInfo h3 {
  font-size: .9em;
  font-family: 'Oswald', sans-serif;
}

.singleBlogPic {
  width: 50%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  transition: 0.3s;
}

.singleBlogPic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mainBlog {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.mainBlogPic {
  width: 50%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  transition: 0.3s;
}

.mainBlogPic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mainBlogInfo {
  text-align: center;
  color: white;
  margin-top: 5em;
  margin-right: 2em;
  margin-left: 2em;
  width: 50%;
}

.mainBlogInfo h1 {
  font-size: 45px;
  font-family: 'Oswald', sans-serif;
}
.mainBlogInfo h2 {
  font-size: 11px;
  font-family: 'Oswald', sans-serif;
}
.mainBlogInfo h3 {
  font-size: 18px;
  width: 27em;
  font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 600px) {
  .mainBlogDiv {
    height: 21em;
    width: 25em;
  }
  .mainBlogPic {
    width: 34em;
    height: 21em;
  }
  .mainBlogInfo {
    margin-top: .2em;
    margin-right: 1em;
    margin-left: 1em;
  }
  .mainBlogInfo h1 {
    font-size: 2em;
  }
  .mainBlogInfo h3 {
    font-size: 10px;
    width: 100%;
    }
  .mainBlogInfo h2
  .homeSingleBlog {
    height: 13em;
  }
  .mainBlogInfo h4 {
    font-size: 8px;
  }
  .singleBlogPic {
    width: 50%;
    height: 13em;
  }
  .singleBlogInfo {
    margin-top: 0em;
    margin-right: 0em;
    margin-left: 0em;
    width: 50%;
  }
  .singleBlogInfo h1 {
    font-size: 19px;
  }
  .singleBlogInfo h2 {
    font-size: 8px;
    margin-bottom: 0px;
  }
  .singleBlogInfo h3 {
    font-size: 9px;
    margin-top: 1em;
  }
  .singleBlogInfo h4 {
    margin-top: 0;
    font-size: 11px;
  }
  .allBlogsButton {
    margin-top: 0px;
    width: 6em;
    height: 2em;
    font-size: 1em;
  }
}

@media only screen and (min-width: 600px) and (max-width:1100px) {
  .mainBlogDiv {
    width: 59em;
  }
  .allBlogsButton {
    width: 8em;
    height: 3em;
    font-size: 1em;
  }
  .mainBlogInfo h2 {
    font-size: 14px;
  }
  .mainBlogInfo h3 {
    font-size: 15px;
    width: 23em;
  }
}

@media only screen and (min-width: 1800px) {
  .mainBlogDiv {
    height: 45em;
    width: 95em;
  }

  .mainBlogInfo h1 {
    font-size: 4em;
  }
  .mainBlogInfo h2 {
    font-size: 1.2em;
  }
  .mainBlogInfo h3 {
    font-size: 1.4em;
    width: 100%;
  }
  .mainBlogInfo h4 {
    font-size: 1.5em;
  }

  .singleBlogInfo h1 {
    font-size: 1.5em;
  }
  .singleBlogInfo h2 {
    font-size: 1.1em;
  }
  .singleBlogInfo h3 {
    font-size: 1.2em;
  }
  .singleBlogInfo h4 {
    font-size: 1.2em;
  }
  .allBlogsButton {
    width: 308px;
    height: 145px;
    font-size: 1.7em;
  }
}


/* All Blogs Styles */

.allBlogsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7em;
}
.allBlogsDiv h1 {
  font-family: 'Oswald', sans-serif;
}

.blogsList {
  display: flex;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 2em;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.singleBlogLink {
  border: solid black 3px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.allSingleBlogLink {
  width: 35em;
  margin-bottom: 3em;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .allBlogsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
  }

}

@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .allBlogsDiv {
    margin-top: 10em;
  }
}

@media only screen and (min-width: 1800px) {
  .allBlogsDiv {
    margin-top: 10em;
  }
  .allBlogsDiv h1 {
    font-size: 3em;
  }
  .blogList {
    width: 100%;
  }
  .allSingleBlogLink {
    width: 60em;
  }
  .allBlogsButton {
    width: 208px;
    height: 65px;
    font-size: 1.7em;
  }
}

/* Single Blog Styles */

.blogContainer {
  margin-left: 8em;
  margin-right: 8em;
  margin-top: 7em;
}

.blogHeader {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.lowerBlogHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.blogNameHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.blogNameHeader h3 {
  margin-top: 0px;
  font-family: 'Oswald', sans-serif;
}

.blogTitle{
  margin-bottom: 2em;
  font-family: 'Oswald', sans-serif;
}

.blogAuthor {
  font-family: 'Oswald', sans-serif;
}

.artistProfile {
  display: inline-grid;
  grid-template-rows: 30px;
  grid-template-columns: 120px;
  align-items: center;
  border: 2px solid black;
  padding: 5px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  height: 40px;
  cursor: pointer;
}

.artistProfile:hover {
  background-color: black;
  color: whitesmoke;
  transform: scale(1.2);
}

.blogPicDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleBlogBannerDiv {
  margin-top: 2em;
  width: 43em;
  height: 23em;
  display: inline-block;
  overflow: hidden;
}

.singleBlogBanner {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.blogPost {
  margin-top: 40px;
  text-align: center;
  margin-left: 5em;
  margin-right: 5em;
}

.blogPostText {
  margin-bottom: 40px;
}

.commentContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.commentList {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.singleComment {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.likesDislikes {
  display: flex;
}

.commentForm {
  margin-bottom: 30px;
}

.commentForm textarea {
  height: 3em;
  width: 23em;
  border: solid;
}

.commentForm button {
  margin-left: 1em;
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

.likeDislikeButton{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  height: 30px;
  width: 37px;
  cursor: pointer;
}

.likeDislikeButton:focus {
  outline: 0;
}

.likeDislikeImage {
  height: 30px;
  width: 30px;
}

.deleteCommentButton {
  margin-top: 13px;
  width: 32px;
  height: 29px;
  border-radius: 27px;
  color: whitesmoke;
  background-color: black;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 0px;
  margin-left: 6px;
}


.authorLink {
  display: inline-grid;
  grid-template-rows: 120px;
  grid-template-columns: 120px;
  align-items: center;
  border: 2px solid black;
  margin: 15px 20px 0 0;
  padding: 5px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  height: 125px;
  text-align: center;
}

.authorLink:hover {
  background-color: black;
  color: whitesmoke;
  transform: scale(1.2);
}

.commentPostError {
  width: 207px;
  border-radius: 4px;
  background: rgb(0, 0, 0);
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  animation: fadeinout 2s linear forwards;
  position: absolute;
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  85%,
  65%,
  50% {
    opacity: 1
  }
}

@media only screen and (max-width: 600px) {

  .blogContainer{
    margin: 0px;
    width: 100%;
  }

  .blogHeader {
    display: flex;
    flex-direction: column-reverse;
  }
  .authorLink {
    display: none;
  }
  .singleBlogBannerDiv {
    width: 29em;
  }

  .blogNameHeader h5 {
    font-size: .9em;
    margin-top: auto;
  }
  .blogNameHeader h3 {
    font-size: 1em;
  }

}

@media only screen and (min-width: 1400px) and (max-width: 1800px) {

  .blogContainer {
    margin-top: 10em;
  }
  .blogTitle {
    font-size: 3em;
  }

  .blogAuthor {
    font-size: 1.7em;
  }

  .likeDislikeImage {
    height: 40px;
    width: 40px;
  }
  .likeDislikeButton {
    height: 42px;
    width: 47px;
  }
  .likesDislikes p {
    font-size: 1.4em;
  }
  .artistProfile {
    grid-template-rows: 33px;
    grid-template-columns: 170px;
    height: 50px;
  }
  .artistProfileLinkText {
    font-size: 1.4em;
  }
  .singleBlogBannerDiv {
    width: 55em;
  }
  .blogPicDescription h5 {
    font-size: 1.4em;
  }
  .blogPost {
    font-size: 1.3em;
  }
  .commentForm label {
    font-size: 1.2em;
  }
  .commentForm button {
    width: 5em;
    height: 2em;
  }
  .singleComment p {
    font-size: 1.4em;
  }
}
@media only screen and (min-width: 1800px) {

  .blogContainer {
    margin-top: 10em;
  }
  .blogTitle {
    font-size: 3em;
  }
  .blogAuthor {
    font-size: 1.4em;
  }
  .likeDislikeButton {
    height: 47px;
    width: 53px;
  }
  .likeDislikeImage {
    height: 37px;
    width: 37px;
  }
  .likesDislikes p {
    font-size: 2.3em;
  }
  .artistProfile {
    grid-template-rows: 1em;
    grid-template-columns: 8em;
    height: 50%;
    font-size: 1.4em;
  }
  .singleBlogBannerDiv {
    width: 82em;
    height: 41em;
  }
  .blogPicDescription h5 {
    font-size: 2.4em;
  }
  .blogPost {
    font-size: 1.3em;
  }
  .commentForm label {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: .5em;
  }
  .commentForm button {
    width: 4em;
    height: 2em;
    font-size: 1.4em;
  }
  .commentForm textarea {
    height: 4em;
    width: 37em;
  }
  .singleComment p {
    font-size: 1.4em;
  }
}




/* All Interviews Styles */

.allInterviewsHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3em;
}

.allInterviewsHeader {
  font-family: 'Oswald', sans-serif;
}

.allInterviewsContainerDiv {
  margin-top: 7em;
}

.allInterviewsContainer {
  display:flex;
  flex-direction: column;
  margin-left: 3em;
  margin-right: 3em;
}

.rightSingleInterview {
  display: flex;
  text-align: right
}

.leftSingleInterview {
  display: flex;
  text-align: left;
}

.rightSingleInterviewInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px;
  font-family: 'Oswald', sans-serif;
}

.rightSingleInterview h1 {
  font-family: 'Oswald', sans-serif;
}

.leftSingleInterviewInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
  font-family: 'Oswald', sans-serif;
}

.leftSingleInterview h1 {
  font-family: 'Oswald', sans-serif;
}

.singleInterviewPic {
  height: 10em;
  width: 35em;
  display: inline-block;
  overflow: hidden;
}

.singleInterviewPic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.interviewButton {
  background-color: black;
  color: white;
  width: 9em;
  height: 36px;
  transition: 0.3s;
  border: 1px solid black;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
}

.interviewButton:hover {
  background-color: whitesmoke;
  color: black;
  transform: scale(1.05);
}
@media only screen and (max-width: 600px) {
  .allInterviewsContainerDiv {
    width: 100%;
  }
  .rightSingleInterviewInfo p {
    font-size: .7em;
  }
  .leftSingleInterviewInfo p {
    font-size: .7em;
  }
  .singleInterviewPic {
    width: 70em;
  }

}

@media only screen and (min-width: 1400px) and (max-width: 1800px) {

  .allInterviewsContainerDiv {
    margin-top: 10em;
  }
  .allInterviewsHeader h1 {
    font-size: 3em;
  }
  .rightSingleInterviewInfo h1 {
    font-size: 2.4em;
  }
  .leftSingleInterviewInfo h1 {
    font-size: 2.4em;
  }
  .rightSingleInterviewInfo p {
    font-size: 1.3em;
  }
  .leftSingleInterviewInfo p {
    font-size: 1.3em;
  }
  .singleInterviewPic {
    height: 14em;
    width: 50em;
  }
  .interviewButton {
    height: 45px;
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1800px) {
  .allInterviewsContainerDiv {
    margin-top: 10em;
  }
  .allInterviewsHeader h1 {
    font-size: 4em;
  }
  .rightSingleInterviewInfo h1 {
    font-size: 2.5em;
  }
  .leftSingleInterviewInfo h1 {
    font-size: 2.5em;
  }
  .rightSingleInterviewInfo p {
    font-size: 1.5em;
  }
  .leftSingleInterviewInfo p {
    font-size: 1.5em;
  }
  .singleInterviewPic {
    height: 25em;
    width: 85em;
  }
  .interviewButton {
    width: 7em;
    height: 2em;
    font-size: 1.5em;
  }
}

/* Single Interview Styles */

.interviewHeader {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5em;
  height: 10em;
  margin-right: 10em;
  margin-left: 10em;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.interviewHeader h1 {
  margin-bottom: 1.3em;
  font-family: 'Oswald', sans-serif;
}

.interviewLikesDislikes {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.interviewSoundcloud {
  display: flex;
  justify-content: center;
}

.interviewContent {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 3em;
  margin-right: 3em;
  font-family: 'Oswald', sans-serif;
}

.interviewQuestion {
  display: flex;
  font-family: 'Oswald', sans-serif;
}
.interviewAnswer {
  margin-top: 1em;
  font-family: 'Oswald', sans-serif;
}

.interviewQuestionText {
  margin-top: 1em;
  color: slategray;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.interviewCommentContainer {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 10em;
}

@media only screen and (max-width: 600px) {
  .singleInterviewContainer {
    width: 100%;
    height: 142em;
  }
  .interviewHeader {
    margin-bottom: 2em;
    height: 20em;
    margin-right: 4em;
    margin-left: 4em;
  }
  .interviewHeader p {
    font-size: .8em;
  }
  .interviewSoundcloud iframe {
    width: 28em;
  }
  .interviewQuestionText {
    font-size: 11px;
  }
  .interviewAnswer {
    font-size: 11px;
  }
}

@media only screen and (min-width: 600px) and (max-width:1100px) {
  .interviewHeader {
    height: 15em;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .interviewHeader {
    height: 17em;
  }
  .interviewHeader h1 {
    font-size: 3em;
  }
  .interviewHeader p {
    font-size: 1.3em;
  }
  .interviewQuestionText {
    font-size: 1.3em;
  }
  .interviewAnswer {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1800px) {
  .interviewHeader {
    height: 14em;
  }
  .interviewHeader h1 {
    font-size: 4em;
  }
  .interviewHeader p {
    font-size: 1.3em;
  }
  .interviewQuestionText {
    font-size: 1.3em;
  }
  .interviewAnswer {
    font-size: 1.6em;
  }
  .interviewLikesDislikes p {
    font-size: 2.3em;
  }
  .interviewQuestion img {
    height: 5em;
    width: 5em;
  }
  .interviewSoundcloud {
    height: 18em;
  }
  .interviewSoundcloud iframe {
    width: 115em;
    height: 12em;
  }
  .interviewContent {
    margin-right: 8em;
    margin-left: 8em;
  }
}

/* Original Content Styles */

.OCheader {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  flex-direction: column;
}

.OCheader h1 {
  font-family: 'Oswald', sans-serif;
}

.OCcontainerDiv {
  margin-top: 7em;
}

.OCcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.singleoc {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .OCcontainerDiv {
    width: 100%;
  }
  .singleoc iframe {
    width: 400px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .OCcontainerDiv {
    margin-top: 10em;
  }
  .OCheader h1 {
    font-size: 3.5em;
  }

}

@media only screen and (min-width: 1800px) {
  .OCcontainerDiv {
    margin-top: 10em;
  }
  .OCheader h1 {
    font-size: 4em;
  }
  .newOC {
    font-size: 3em;
  }
  .newOC label {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  .singleoc iframe {
    width: 62em;
    height: 33em;
  }
}

/* Submit Styles */

.submitHeader {
  margin-top: 3em;
  text-align: center;
}

.submitHeader h1 {
  font-family: 'Oswald', sans-serif;
}

.submitContainer {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.submitContainerDiv {
  height: 100vh;
  margin-top: 7em;
}

.submitContainer h3 h4 h5 h6{
  font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 600px) {
  .submitContainerDiv {
    width: 100%;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .submitContainerDiv {
    margin-top: 10em;
  }
  .submitHeader h1 {
    font-size: 3em;
  }
  .submitContainer h4 {
    font-size: 2em;
  }
  .submitContainer h3 {
    font-size: 2.6em;
  }
  .submitContainer h5 {
    font-size: 1.7em;
  }
  .submitContainer h6 {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 1800px) {
  .submitContainerDiv {
    margin-top: 10em;
  }
  .submitHeader h1 {
    font-size: 6em;
  }
  .submitContainer h4 {
    font-size: 3.4em;
  }
  .submitContainer h3 {
    font-size: 4em;
  }
  .submitContainer h5 {
    font-size: 3.2em;
  }
  .submitContainer h6 {
    font-size: 2.7em;
  }
}
