.thankYouContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.thankYou {
  text-align: center;
  border: solid black;
  height: 126px;
  width: 50%;
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.outerContactForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactForm {
  margin: 3em 0 0 0;
  width: 50vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1.2px solid black;
  border-radius: 4px;
}
.contactForm h2 {
  margin-top: 0px;
  width: 100%;
  height: 22%;
  background-color: black;
  color: whitesmoke;
  padding-top: 13px;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}
.contactForm h4 {
  margin-top: -40px;
  color: whitesmoke;
}
.contactForm button {
  background-color: black;
  color: white;
  width: 9em;
  height: 36px;
  transition: 0.3s;
  border: 1px solid black;
  cursor: pointer;
}
.contactForm button:hover {
  background-color: whitesmoke;
  color: black;
}
.contactForm input {
  border: solid;
  border-radius: 4px;
  height: 25px;
  background: transparent;
}
.contactForm textarea {
  resize: none;
  border: solid;
  border-radius: 4px;
  width: 75%;
  height: 7em;
  background: transparent;
}
.topContactFormInputs {
  display: flex;
  justify-content: space-between;
}
.bottomContactFormInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .thankYou {
    height: 180px;
  }
  .outerContactForm {
    width: 100%;
  }
  .contactForm {
    width: 90%;
    height: 70vh;
  }
  .contactForm h2 {
    height: 15%;
  }
  .topContactFormInputs {
    flex-direction: column;
  }
}

/* iPad */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .contactForm {
    width: 90%;
  }
  .contactForm h2 {
    height: 15%;
  }
}

/* 15" */
@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  .thankYou {
    height: 15em;
    width: 39em;
    margin-top: 74px;
  }
  .thankYou h2 {
    font-size: 2.5em;
  }
  .thankYou h5 {
    font-size: 1.1em;
  }
  .contactForm {
    width: 65vw;
  }
  .contactForm h2 {
    font-size: 3em;
    height: 4em;
  }
  .contactForm h4 {
    margin-top: -3em;
    margin-bottom: 2em;
    font-size: 2em;
  }
  .contactForm input {
    height: 1.2em;
    width: 10em;
    font-size: 2.5em;
  }
  .contactForm button {
    width: 10em;
    height: 70px;
    font-size: 2em;
  }
  .contactFormLabel {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
}

/* Desktop*/
@media only screen and (min-width: 1800px) {
  .thankYou {
    height: 30em;
    width: 74em;
    margin-top: 74px;
  }
  .thankYou h2 {
    font-size: 4em;
  }
  .thankYou h5 {
    font-size: 2em;
  }
  .contactForm {
    height: 70vh;
  }
  .contactForm h2 {
    font-size: 3em;
  }
  .contactForm h4 {
    margin-top: -3em;
    margin-bottom: 2em;
    font-size: 2em;
  }
  .contactForm input {
    height: 1.5em;
    width: 11em;
    font-size: 1.5em;
  }
  .contactForm button {
    width: 7em;
    height: 2em;
    font-size: 2em;
  }
  .contactFormLabel {
    font-size: 2em;
    margin-bottom: 20px;
  }
}
