html,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
}

#app {
  background: no-repeat center url('../images/websitebackground.png');
  background-size: 80%;
  background-attachment: fixed;
  font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 600px) {
  #app {
    width: 100%;
  }
}

* {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

path {
  pointer-events: all;
}
path:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .noneOnMobile {
    display: none;
  }
}

@import './discover.scss';
@import './footer.scss';
@import './artists/allArtists.scss';
@import './blogs/allBlogs.scss';
